body{
    margin: 0;
    padding: 0;
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-size: 18px;
}

div#header {
    padding: 15px 60px;
    font-size: 18px;
    overflow: auto;
    background-color: #c5f913;
}

#logo{
    height: 90px;
    width: 200px;
    float: left;
}

div#subheader{
    padding: 10px 60px;
    overflow: auto;
    float: left;
    margin: 20px 0;
}

div#content{
    padding: 0 60px;
    overflow: hidden;
    background: linear-gradient(to right, #99ffdf 10%, #fffb1a 26%);
}

div#sidebar{
    width: 215px;
    float: left;
    padding: 20px 20px 0 0;
}

div#main{
    width: 90%;
    margin-right: -240px;
    padding-left: 20px;
    overflow: hidden;
    float: right;
    background-color: #fffb1a;
}

div#footer{
    padding: 3px;
    text-align: center;
    font-size: 13px;
    background-color: #c5f913;
}

input[type=submit]{
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    background: #a53d93;
}

#sidebar ul{
    padding: 0;
}

#sidebar ul li{
    list-style: none;
    padding: 8px 12px;
}

a{
    text-decoration: none;
    font.wieght: bold;
}

a:link{
    color: #a53d93;
}

a:visited{
    color: red;
}

a:hover{
    color: gray;
}
