{% extends "base.html" %}

{% block title %} Nuevo workflow {% endblock %}

{% block subheader %}

    <form action = "/workflow_search/" method="post">
        {% csrf_token %}
        Busqueda: <input name="key" maxlength="128" type="text">
        <input value="byName" name ="byName" type="submit">
    </form>

{% endblock subheader %}

{% block content %}

        <div id="main" class="workflow-list pure-u-4-5">
            <form id="category_form" method="post" action="/add_workflow/" enctype="multipart/form-data">
                {% csrf_token %}

                {% if msg %}

                    <h2>{{msg}}</h2>

                {% else %}

                    <h2>Introduce los datos del workflow:</h2>

                {% endif %}

                {% for field in form.visible_fields %}
                    <p>{{ field.errors }}</p>
                    <p>{{ field.help_text }}</p>
                    <p>{{ field }}</p>
                {% endfor %}

                <input type="submit" name="submit_workflow" value="upload" />
            </form>
        </div>

{% endblock content %}