{% extends "base.html" %}
{% load static %}

{% block title %} Detalle {% endblock %}

{% block scripts %}
    <script src="{% static '/js/webcomponents/webcomponents-loader.js/' %}">

    </script>

    <link rel="import" href="{% static 'scipion-workflow.html' %}">

{% endblock scripts %}

{% block subheader %}

    <form action = "/workflow_search/" method="post">
        {% csrf_token %}
        Busqueda: <input name="key" maxlength="128" type="text">
        <input value="byName" name ="byName" type="submit">
    </form>

{% endblock subheader %}

{% block content %}

    {% if result == False  or workflow == None %}
        <p> {{ error }}</p>


    {% else %}

        <div id="main" class="workflow-list pure-u-4-5">

            <h1>{{ workflow.name }}</h1>

            <h2>
                {% for item in workflow.category.all %}
                <a href="/workflow_list/{{item.slug}}"> {{ item.name }} </a>
                {% endfor %}
            </h2>

            <p><b>Keywords:</b> {{workflow.keywords}}</p>

            <p><b>Description:</b> {{workflow.description}}</p>

            <form action="/workflow_download/{{workflow.id}}/{{workflow.slug}}/" method="post">
                {% csrf_token %}
                <input name="download" type="submit" value="Download">

            </form>

        </div>

        <div id="scipion-workflow" style = "width: 260px; float: left; height: 315px;">

            <scipion-workflow src="{% url 'workflow_download_json' workflow.id workflow.slug %}" height="340px"
                              width="115%">
            </scipion-workflow>

        </div>

    {% endif %}

{% endblock content %}