{% extends "base.html" %}

{% block title %} Listado de workflows {% endblock %}

{% block content %}

    <div id="main" class="workflow-list pure-u-4-5">

        <h1>Listado de Workflows</h1>

        {% if result == False %}
            <p> {{ error }}</p>
        {% else %}
            {% for item in workflows %}
                <p>
                    <a href="/workflow_detail/{{item.id}}/{{item.slug}}">{{ item.name }}</a>:
                    {{ item.description }}
                </p>
            {% endfor %}
        {% endif %}

    </div>

    <div id="sidebar" class="pure-u-1-5">

        <h3>Categorias</h3>

        <ul>

            <li class="selected">
                <a href="/">Todas</a>
            </li>

            {% for item in categories %}
            <li>
                <a href="/workflow_list/{{item.slug}}"> {{ item.name }} </a>
            </li>
            {% endfor %}

        </ul>

        <a href="/add_workflow/"> <h3>Upload workflow</h3> </a>

    </div>

{% endblock content %}